<div class='margin: 20px'>
  <!-- <p class='text-info'><%= @authors %></p> -->
  <p><%= p Author.code_lines('Hayden Wei') %></p>
	<table class='table table-bordered table-striped table-hover'>
		<thead style='background: #eee'>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Addtions</th>
				<th>Deletions</th>
				<th>Totals</th>
			</tr>
		</thead>
		<tbody>
		<% @authors.each do |author| %>
			<tr>
			<td><%= author['id'] %></td>
			<td><%= author['name'] %></td>
			<td><%= author['email'] %></td>
			<td><%= author[:addtions] %></td>
			<td><%= author[:deletions] %></td>
			<td><%= author[:total] %></td>
		</tr>
	<% end %>
		</tbody>
	</table>
</div>
